---
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<!-- General meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/favicon.png" type="image/x-icon">
		<base target="_parent">

		{% if page.indexing == false %}
			<meta name="robots" content="noindex">
		{% endif %}

		{% if page.collectionpage %}
			{% seo title=false %}

			{% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
			<title>{{ collectiondata.title }} - {{ site.title }}</title>
			<meta property="og:title" content="{{ collectiondata.title }}">
			<meta name="description" content="{{ collectiondata.description }}">
			<meta property="og:description" content="{{ collectiondata.description }}">
		{% else %}
			{% seo %}
		{% endif %}

    <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">

		{% if site.avatarurl %}{% include site-favicons.html %}{% endif %}
	</head>
	<body style="margin-top:0px;" class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">

{% if paginator.posts %}
	<section class="section  typeset">
		<ul class="list  list--posts">
			{% for page in paginator.posts %}
				<li class="item  item--post">
					<article class="article  article--post">
						<h4><a target= "_blank" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h4>
						{% include post-meta.html %}
						{{ page.excerpt | markdownify | truncatewords: 60 }}
					</article>
				</li>
			{% endfor %}
		</ul>
		{% include post-pagination.html %}
	</section>
{% else %}
	<section class="section  typeset">
		<ul class="list  list--posts">
			{% for page in site.posts %}
				<li class="item  item--post">
					<article class="article  article--post">

						<h4><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h4>
						{% include post-meta.html %}
						{{ page.excerpt | markdownify | truncatewords: 60 }}

					</article>
				</li>
			{% endfor %}
		</ul>
	</section>
{% endif %}

	</body>
</html>
