<aside class="aside  typeset{% if include.align == "left" %}  aside--left{% endif %}">

  {% if page.layout == "post" %}
    <section class="section  section--related-posts">
      {% include post-related.html %}
    </section>

  {% elsif page.layout == "page" or page.layout == "blog" or page.layout == "default" %}
    <section class="section  section--description">
      <h3>{{ page.aside_title }}</h3>
      <p>{{ page.aside_content }}</p> <p> {{page.aside_link}}</p>      
    </section>

  {% elsif page.layout == "categories" %}
    <section class="section  section--category-index">
      <h3>Index</h3>
      {% include nav-categories.html %}
    </section>
    
  {% endif %}

</aside>
