<div class="two_col software">
<table class="software">

<tr><td><img class="software-logo" src="assets/logos/abysslogo.png"><span class="software-title">AbySS 2.0</span></td></tr>
<tr><td class="software-desc">Description of ABySS, will restrict it to be one line for the sake of space</td></tr>

<tr><td><img class="software-logo" src="assets/logos/arcslogo.png"><span class="software-title">ARCS</span></td></tr>
<tr><td class="software-desc">Scaffolding genome sequence assemblies using 10X Genomics GemCode/Chromium data. <a href = "https://github.com/bcgsc/arcs/tree/binomialx2">See on Github</a></td></tr>

<tr><td><img class="software-logo" src="assets/logos/linkslogo.png"><span class="software-title">LINKS</span></td></tr>
<tr><td class="software-desc">Long Interval Nucleotide K-mer Scaffolder. <a href = "https://github.com/bcgsc/LINKS">See on Github</a></td></tr>

</table>
</div>


<div class="two_col software">
<table class="software">

<tr><td><img class="software-logo" src="assets/logos/tigmintlogo.png"><span class="software-title">Tigmint</span></td></tr>
<tr><td class="software-desc">Description, will restrict it to be one line for the sake of space</td></tr>

<tr><td><img class="software-logo" src="assets/logos/ssakelogo.png"><span class="software-title">SSAKE</span></td></tr>
<tr><td class="software-desc">Description, will restrict it to be one line for the sake of space</td></tr>

<tr><td><img class="software-logo" src="assets/logos/ntHashlogo.png"><span class="software-title">ntHash</span></td></tr>
<tr><td class="software-desc">ntHash is a recursive hashing algorithm tuned for processing DNA/RNA sequences. <a href="https://github.com/bcgsc/ntHash">See on Github</a></td></tr>

</table>
</div>
