---
layout: default
---

{% include site-header.html %}

<main class="main  container">
<article class="article  article--page  content  typeset">
<div style="width:85%;height:100%;float:right;padding-left:10%;padding-right:10%;">
<h1>{{ page.title }}</h1>

	{{ content }}

		{% include post-categories.html %}
</div>

<div style="width:15%;height:50%;text-align:center;border-right:1px solid #e2e2e2;position:fixed;">
      <h3>Index</h3>
      {% include nav-categories.html %}

</div>
</article>
</main>

{% include site-footer.html %}
