---
layout: default
---

{% include site-header.html %}

<main class="main  container">
    <div class="intro two_col content typeset"">
        <img class="profile-avatar" src= "/assets/avatars/{{ page.avatar }}"> 
        <h3><strong> {{ page.title }} </strong></h3>
        <p><em>{{ page.position }}</em><br><br>
        {% if page.email %} <span><a title="Email" href="{{ page.email }}">{% include email-icon.html %}</a></span>{% endif %}
        {% if page.github %} <span><a title="Github" href="https://github.com/{{ page.github }}">{% include github-icon.html %}</a></span>{% endif %}
        {% if page.twitter %} <span><a title="Twitter" href="https://twitter.com/{{ page.twitter }}">{% include twitter-icon.html %}</a></span>{% endif %}
        {% if page.website %} <span><a title="Website" href="{{ page.website }}">{% include website-icon.html %}</a></span>{% endif %}
        {% if page.linkedin %} <span><a title="LinkedIn" href="{{ page.linkedin }}">{% include linkedin-icon.html %}</a></span>{% endif %}
        </p>
    </div>

    <div class="profile-content two_col content typeset">
        {{ content }}
    </div>

</main>

{% include site-footer.html %}
